html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0%;
    font-family: 'Roboto Mono', monospace !important;
    background-color: #D69E07 !important;

}
footer{
    background-color: #fff;
    margin-top: auto;
    height: 1fr;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 300;
    width: 100%;

}
header{
    display: inline-block;
    height: min-content !important;
    background-image: linear-gradient(180deg, #D69E07, #393939) !important;
    //background-color: #D69E07 !important;
}
aside{
    height: max-content;
    background-image: linear-gradient(180deg, #D69E07, #393939) !important;
    height: 1000px !important;
    //background-color: #D69E07 !important;
}
.super-contenedor-dashboard{
    display: flex;
    flex-direction: column;
    height: 900px;
    margin-right: 0 !important;
    background-color: #D69E07 !important;
    width: max-content;
    box-sizing: border-box;
}
.super-contenedor2{
    display: flex;
    flex-direction: row;
    height: 100%;
    //width:auto;
    box-sizing: border-box;
    --bs-gutter-x: 0;
    width:100%;
    background-image: linear-gradient(180deg, #cb970b, #000) !important;
    /*
    position:fixed;
    top:0;
    bottom:0;*/
}
.superior{
    background-color: #fff;
    display: inline-block;
    
}
.logo{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: auto;
}
    .logo-retro{
        height: 20%;
        width: 70%;
        margin-top: 3%;
    }
.search{
    background-color: #fff;
    display: inline-block;
    background-image: linear-gradient(180deg, #D69E07, #393939) !important;
}
    .boton-buscar{
        display: inline-block;
        background-color: #D69E07;
    }
.bell{
    color: #FECC02;
}
.avatar{
    display: inline-block;
    margin-left: 15%;
    width: max-content;
    
}
.avatar-panel{
    display: inline-block;
    width: max-content;
    margin-left: 3%;
}
.mt-10{
    margin-top: 70%;
}
.menu{
    display: column;
    flex-direction: row;
    margin-top: 80%;
}
    
.border-none{
    border-color: #fff;
}
.contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100% !important;
    width: min-content;
    background-color: #fff !important;
    
}
.menu-bar{
    
    
}
.side-bar{
    text-decoration: none;
    color: black; 
    padding-left: 10%;
    height: auto;
    line-height: 40px;
    font-size: 19px;
    
}
    .side-bar:focus{
        border-left: 5px solid #000;
    }
.item-list{
    border: none !important;
    margin-top: 0.2em;
    padding: 0 !important;
    //background-image: linear-gradient(180deg, #a57f16, #725d27) !important;
    
}
    .item-list:hover{
        background-image: linear-gradient(180deg, #a57f16, #725d27) !important;
    }
    .item-list:focus{
        border-left: 5px solid #000 !important;
    }
    .item-list2:focus{
        border-left: 5px solid #000;
    }
.sub-menu{
    padding-left: 30%;
    font-size: 14px;
    text-decoration: none;
    color: black; 
    height: auto;
    line-height: 30px;
}
    .sub-menu:focus{
        //border-left: 5px solid #000;
    }
.iconos{
    font-size: 19px;
    margin-right: 25px;
}
.info-song{
    text-align: center;
}
.play{
    position: relative;
    left: 40%;
    top: 40%;
    z-index: 100;
    height: min-content;
    width: min-content;
    font-size: 50px;
}
.reproductor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.player-track{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.progress-tracker{
    width: 100%;
}
.player-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.progress-tracker{
    margin-left: 10%;
}
.space-artist{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    .artist-content{
        display: flex;
        flex-direction: row;

    }
.songs-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.frame-home{
    height: 100% !important;
    width: 100% !important;
    
}
//estilos panel-operario
.super-contenedor-panelO{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 0 !important;
    background-color: #D69E07 ;
    width:min-content;
    /*
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 0 !important;
    background-color: #D69E07 !important;

    min-height:max-content;
    //float:left;
    position:relative;
    overflow:hidden;
    bottom: 0;
    left: 0;*/
}
@import "./node_modules/bootstrap/scss/bootstrap.scss"