body
{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
    background-image: url(fondo-musica-retro_6718-14.webp);
    background-size: cover;
    background-position: center;

}



#login-box
{
    position: relative;
    margin: 5% auto;
    top: 70px;
    height: 400px;
    width: 600px;
    background: rgb(245, 242, 207);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 400px;
}

h1
{
    font-family: 'DynaPuff', cursive;
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type= "text"],
input[type = "password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 220px;
    height: 32px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(10, 10, 10);
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type = "submit"]
{
    
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-family: 'DynaPuff', cursive;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.25 ease;
    cursor: pointer;
}

input[type = "submit"]:hover,
input[type = "submit"]:focus
{
    background: #ff5722;
    transition: 0.2s ease;
}

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url(cassette-de-audio-vintage-con-auriculares-y-reproductor-naranja-cintas-un-rojo-244115624.jpg);
    background-size: cover;
    background-position: center;
}

.or
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #0ef187;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0,  0.6);
    line-height: 40px;
    text-align: center;
    font-family: 'DynaPuff', cursive;
}

.right-box .signinwith
{
    display: block;
    position: relative;
    top: 40px;
    margin-bottom: 30px;
    font-size: 35px;
    color: hsl(56, 88%, 53%);
    font-family: 'DynaPuff', cursive;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(6, 6, 6, 6);
    
}

button.social
{
    position: relative;
    top: 60px;
    margin-bottom:23px;
    width: 220px;
    height: 35px;
    border: none;
    border-radius: 25px;
    color: rgb(253, 249, 249);
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s ease;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
}

.facebook
{
    background: #32508e;
}

.twitter
{
    background: #55acee;
}

.google
{
    background: #dd4b39;
}