body
{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
    background-image: url(fondo-musica-retro_6718-14.webp);
    background-size: cover;
    background-position: center;
}

.loginbox
{
    position: relative;
    top: 70px;
    margin: 5% auto;
    height: 300px;
    width: 250px;
    background-image: url(screen-4.jpg);
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    padding: 70px 30px;
}

h1
{
    margin: 0;
    text-align: center;
    font-family: 'DynaPuff', cursive;
    font-size: 25px;
}

.loginbox p
{
    position: relative;
    top: 30px;
    margin: 0;
    padding: 0;
}

.loginbox input
{
    position: relative;
    top: 29px;
    width: 100%;
    margin-bottom: 20x;
}

.loginbox input[type = "text"], input[type = "password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 50px;
    color: #fff;
    font-size: 14px;
}

.loginbox input[type = "submit"]
{
    position: relative;
    top: 55px;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    columns: #fff;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'DynaPuff', cursive;
}

.loginbox input[type = "submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a
{
    position: relative;
    top: 60px;
    text-decoration: none;
    font-size: 15px;
    line-height: 28px;
    color: rgb(185, 181, 181);
}

.loginbox a:hover
{
    color: #ffc107;
}
